/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #faf6f6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8fd964;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #27ae60;
    transform: scale(1.1);
}

.nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    background-color: #219150;
    transform: scale(1.05);
}

/* Our Work Hero Section */
.ourwork_Hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('images/ourWork.jpg');
    background-size: contain;
    background-position: center;
    color: white;
    text-align: center;
    padding: 300px 10px;
    margin-top: 0;
}

.ourwork_Hero_content {
    max-width: 700px;
    margin: 0 auto;
}

.ourwork_Hero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.ourwork_Hero h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*background Image*/
#ourWork_2021 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('images/Honeybox.jpg');
    background-size: contain;
    background-position: center;
}

#ourWork_2022 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('images/Transplatation.jpg');
    background-size: contain;
    background-position: center;
}

#ourWork_2023 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('images/RetailShop.jpg');
    background-size: contain;
    background-position: center;
}

#ourWork_2024 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url('images/HoneyPU.jpg');
    background-size: contain;
    background-position: center;
}

/* Photo Sections */
.photo-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    margin: 5px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: white;
}

.photo-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.photo-section h1 {
    font-size: 1.2rem;
    color: #f8f9fa;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
}

.styled-button {
    display: inline-block;
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    
}
.styled-button1 {
    display: inline-block;
    background: linear-gradient(rgba(130, 249, 2, 0.473), rgba(245, 209, 6, 0.6));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.button {
    display: inline-block;
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bold;
    transition: background-color .8s ease;
}

.button:hover {
    background-color: #2ecc71;
    transform: scale(1.08);
}

/* Footer Styles */
footer.contact {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

footer.contact h2 {
    margin-bottom: 15px;
    color: #27ae60;
}

footer.contact p {
    margin-bottom: 10px;
}

footer.contact a {
    color: #27ae60;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer.contact a:hover {
    color: #2ecc71;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 1px 0; /* Smaller padding for a smaller navbar */
    }
    .navbar .container {
        flex-direction: column; /* Ensure proper alignment on smaller screens */
        align-items: center;
    }
    .logo img {
        height: 40px; /* Smaller logo for mobile */
    }
    .logo-text {
        font-size: .9rem; /* Reduced font size for logo text */
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        font-size: small;
    }
    .nav-button {
        width: 100%; /* Make the button take full row width */
        text-align: center; /* Center text inside the button */
        padding: 3px 130px;
        background-color: transparent; /* Transparent background */
        color: white; /* Text color */
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
    }

    .ourwork_hero {
        padding: 180px 5px;
    }

    .ourwork_hero h1 {
        font-size: 1.2rem;
    }

    .ourwork_hero p {
        font-size: 1rem;
    }

    .cta-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .photo-section {
        min-height: 50vh;
    }

    .sphoto-section h2 {
        font-size: 1rem;
    }

    .photo-section p {
        max-width: 90%;
    }

    footer.contact h2 {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 480px) {
    .navbar {
        padding: 1px 0; /* Smaller padding for a smaller navbar */
    }
    .navbar .container {
        flex-direction: column; /* Ensure proper alignment on smaller screens */
        align-items: center;
    }
    .logo img {
        height: 40px; /* Smaller logo for mobile */
    }
    .logo-text {
        font-size: .9rem; /* Reduced font size for logo text */
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        font-size: small;
    }
    .nav-button {
        width: 100%; /* Make the button take full row width */
        text-align: center; /* Center text inside the button */
        padding: 3px 130px;
        background-color: transparent; /* Transparent background */
        color: white; /* Text color */
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
    }

    .ourwork_hero {
        padding: 180px 5px;
    }

    .ourwork_hero h1 {
        font-size: 1.2rem;
    }

    .ourwork_hero p {
        font-size: 1rem;
    }

    .cta-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .photo-section {
        min-height: 50vh;
    }

    .sphoto-section h2 {
        font-size: 1rem;
    }

    .photo-section p {
        max-width: 90%;
    }

    footer.contact h2 {
        font-size: 1.5rem;
    }
}
